export CASSANDRA_KEYSPACE=tests
export CASSANDRA_HOST=127.0.0.1
export MYSQL_HOST=127.0.0.1
export MYSQL_DATABASE=circleci
export MYSQL_PASSWORD=test
export MYSQL_USER=ubuntu
export POSTGRES_DATABASE=circleci
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PASSWORD=circleci
export POSTGRES_USER=circleci
export REDIS_HOST=127.0.0.1
export SQLITE_DATABASE=./test.sqlite
#export TEST_CASSANDRA=true
export TEST_MYSQL=true
export TEST_POSTGRES=true
export TEST_SQLITE=true
export TEST_REDIS=true
